body {
    background-color: #2C2C2C;
    color: #FFFFFF;
    font-family: monospace;
}

#terminal {
    white-space: pre-wrap;
    line-height: 1.4em;
}

.line {
    display: flex;
}

.input:focus {
    outline: none;
}

.user {
    color: #80ff80;
    font-weight: bold;
}

.workingdir {
    color: #4DA3FF;
}